@model Book

@{
    ViewData["Title"] = "NEw";
}

<h1>New</h1>
<form method="post" asp-action="SaveNew" asp-controller="Book">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Title"></label>
        <input class="form form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input class="form form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="AuthorName"></label>
        <input class="form form-control" asp-for="AuthorName" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PublisherName"></label>
        <input class="form form-control" asp-for="PublisherName" />
        <span asp-validation-for="PublisherName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="StockQuantity"></label>
        <input class="form form-control" asp-for="StockQuantity" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CategoryID"> Category </label>
        <select asp-for="CategoryID" asp-items="@(new SelectList(ViewData["Categories"] as List<Category>, "CategoryID", "Name"))" class="form-control">
            <option value="0">-- Select option --</option>
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="ImagePath"></label>
        <input class="form form-control" asp-for="ImagePath" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input class="form form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Publishdate"></label>
        <input class="form form-control" asp-for="Publishdate" />
        <span asp-validation-for="Publishdate" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-success" />

</form>
<a asp-action="Index">Back To List</a>

